---
pageTitle: "Code Blocks"
date: 2024-11-19 12:00:00
tags: ["tag1"]
excerpt: "This is a test of code blocks"
draft: false
hasCodeBlock: true
---


<p>This is a test about using code blocks in a post.</p>

<div class="code-block" aria-labelledby="codeblock-1">
	<header class="code-block-header" id="codeblock-1">Test HTML codeblock</header>
{% highlight "html" %}
<section>
  <h2>h2 Title</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, accusantium?</p>
</section>
{% endhighlight %}
</div>

<p>This is a test about using code blocks in a post.</p>