{% extends "layouts/base.njk" %}
{% set comma = joiner() %}

{% block main %}
<article class="post" aria-labelledby="page-title">
    <header class="post-header">
        {# <p class="date">Posted on {{publishedDate.toLocaleDateString()}}</p> #}
        <p class="date">Posted on {{page.date | postDate}}</p>
        <p class="tags">Tags: {% for tag in tags %}{{comma()}} <a href="/category/{{tag}}/" class="tag">{{ tag }}</a>{% endfor %}</p>
    </header>
    {{content | safe }}
    <footer class="post-footer">
        
    </footer>
</article>
{% endblock %}
