---
layout: "layouts/base.njk"
pageTitle: "Page Not Found"
pageID: "404"
permalink: "404.html"
---

<p>I can't find the page you were looking for. Perhaps it was one of these?</p>

<ul role="list" aria-label="Commonly visited pages.">
    <li><a href="about">About</a>, to learn about me.</li>
    <li><a href="blog">Blog</a>, to see my latest posts.</li>
    <li><a href="privacy">Privacy</a>, to see my site's privacy policy.</li>
    <li><a href="contact">Contact</a>, to, you know, contact me.</li>
</ul>

<p>Hope this helps!</p>