---
layout: "base"
pageTitle: "Privacy Policy"
pageID: "privacy"
---

<section>
    <h2>On This Site</h2>
    
    <p>I am committed to ensuring the privacy of anyone using my site, or my services. This website has been generated statically, using the <a href="https://www.11ty.dev/">Eleventy</a> framework; as such, there is no database connected to it that would save any personally identifying information of its users.</p>
    <p>This site is hosted on <a href="https://www.greengeeks.com/">GreenGeeks</a> (link to their <a href="https://www.greengeeks.com/legal/privacy">Privacy Policy</a>).</p>
    <p>At present, I set no cookies on the browser; however, I do set a variable in localStorage to save a user's preference for viewing the site in light or dark mode.</p>
    <p>The form on the contact page does require name and email as inputs. However, forms are processed via an external API from <a href="https://formsapi.jabwn.com/">Jabwn Forms</a> (link to their <a href="https://formsapi.jabwn.com/privacy">Privacy Policy</a>), which then send the form submissions to a dedicated email address. They use no third-party SMTP service, and store form data on their own secure servers; furthermore, that data is invisible and inaccessible to any third party (including me), and is deleted weekly.</p>
    <!-- <p>Should I ever decide to implement any kind of analytics on this site, I intend to use <a href="https://matomo.org/matomo-on-premise/">Matomo</a>, and will opt to host the analytics on the site server, rather than provide access to any third party; furthermore, I will never sell, nor give access to, any information collected via those analytics to any third party myself. Matomo's site includes many pages devoted to security and privacy, many of which are linked in their site footer.</p> -->
    
</section>

<section>
    <h2>Outside This Site</h2>
    
    <p>Online Meetings: <a href="https://brave.com/talk/">Brave Talk</a> (link to their (<a href="https://brave.com/privacy/browser/#brave-talk-learn">Privacy Policy</a>.</p>
    
    <p>Tutoring Course Management: <a href="https://classroom.google.com/">Google Classroom</a> (link to their <a href="https://edu.google.com/why-google/privacy-security/">Privacy Policy</a>).</p>
    
    <!-- <p>Payment Processing: <a href="https://stripe.com/">Stripe</a> (link to their <a href="https://stripe.com/privacy">Privacy Policy</a>).</p> -->
</section>