{% set location="footer" %}
<footer class="site-footer" aria-label="Site footer">
    <section class="colophon">
        <p class="copyright">&copy;{% year %} <a href="/">{{meta.title}}</a></p>
        <button class="color-mode-toggle">Toggle color mode</button>
    </section>
    {% include "partials/components/site-nav.njk" %}
</footer>